<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <h1>JWT Auth API</h1>
    <h2>URLS:</h2>
    <ul style="display: flex; list-style: none; justify-content: space-around;padding: 0;">
        <li style="width:20vw">
            <h3><p style="color: rgb(255, 123, 0); display: inline;">'register/'</p> - register new user</h3>
            <h4>
                <p style="color: rgb(19, 37, 119);">
                    POST request
                </p>
                <br>
                body:
                {
                    "username":"<i>some_username</i>",
                    "password":"<i>some_password</i>" 
                }
            </h4>
        </li>
        <li style="width:20vw">
            <h3><p style="color: rgb(255, 123, 0); display: inline;">'api/token/'</p> - authenticate a user<br>(returns access and refresh token)</h3>
            <h4>
                <p style="color: rgb(19, 37, 119);">
                    POST request
                </p>
                <br>
                body:
                {
                    "username":"<i>some_username</i>",
                    "password":"<i>some_password</i>" 
                }
            </h4>
        </li>
        <li style="width:20vw">
            <h3><p style="color: rgb(255, 123, 0); display: inline;">'api/token/refresh/'</p> - refresh expired token<br>(access (10 minutes),<br>refresh (1 day))</h3>
            <h4>
                <p style="color: rgb(19, 37, 119);">
                    POST request
                </p>
                <br>
                body:
                {
                    "refresh":"<i>refresh_token</i>"
                }
            </h4>
        </li>
        <li style="width:20vw">
            <h3><p style="color: rgb(255, 123, 0); display: inline;">'check-token/'</p> - check you are using token correctly</h3>
            <h4>
                <p style="color: rgb(19, 37, 119);">
                    POST request
                </p>
                <br>
                headers:
                {
                    "Authorization": "Bearer <i>access_token</i>"
                }
            </h4>
        </li>
    </ul>
    <h3>Existing users:</h3>
    <ul style="display: flex; list-style: none; justify-content: space-around;padding: 0;flex-wrap: wrap;">
        {% for u in users %}
            <li style="width:20vw;display: flex;justify-content: space-between;">
                <p>{{ u.username }}</p> <p>{% if u.id %}<a href="{% url 'delete' u.id %}"><button>Delete</button></a>{% endif %}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>