<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <h1>JWT Auth API</h1>
    <h2>URLS:</h2>
    <ul>
        <li><h3>'register/' - register new user</h3></li>
        <li><h3>'api/token/' - authenticate a user (returns access and refresh token)</h3></li>
        <li><h3>'api/token/refresh/' - refresh expired token (access (10 minutes), refresh (1 day))</h3></li>
        <li><h3>'check-token/' - check you are using token correctly</h3></li>
    </ul>
</body>
</html>